<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table>
      <tr>
        <th>#</th>
        <th>Seleção A</th>
        <th></th>
        <th>X</th>
        <th></th>
        <th>Seleção B</th>
      </tr>
      <tr *ngFor="let jogo of jogos">
        <td>{{ jogo.id }}</td>
        <td>{{ jogo.selecaoA?.nome }}</td>
        <td>{{ jogo.placar }}</td>
        <td>X</td>
        <td>{{ jogo.placar2 }}</td>
        <td>{{ jogo.selecaoB?.nome }}</td>
        <td>{{ jogo.criadoEm }}</td>
        <button>Palpitar</button>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
